<nav class='grey darken-3 '>
  <div class='container'>
    <div class='nav-wrapper'>
      <a href='/' class='brand-logo center'>StoryBooks</a>
      <!-- Trigger sidenav -->
      <a href='#' data-target='slide-out' class='sidenav-trigger show-on-large'><i class='nav-hamburger fa fa-bars'></i></a>
      <!-- RIGHT NAV -->
      <ul class='right hide-on-small-only'>
        {{#if user}}
          <li><a href='/dashboard'>Welcome {{user.firstName}}</a></li>
          <li><a href='/auth/logout'><i class='fas fa-sign-out-alt'></i> Logout</a></li>
        {{else}}
          <li><a href='/stories'><i class='fa fa-book'></i> Public Stories</a></li>
        {{/if}}
      </ul>
    </div>
  </div>

</nav>

<div class='container'>
  <ul id='slide-out' class='sidenav'>
    {{#if user}}
    {{else}}
    <li>
      <a class="btn red darken-1" href="/auth/google"><i class="sidenav-icon fab fa-google left"></i> Login With Google</a>
    </li>
    <li><a href='/stories'><i class='fa fa-book'></i> Public Stories</a></li>
    {{/if}}
    {{#if user}}
    <li><h4 class='sidenav-wellcome'>Welcome {{user.firstName}}</h4></li>
    <li><a href='/stories'><i class='fa fa-book'></i> Public Stories</a></li>
    <li class='divider'></li>
    <li><a href='/dashboard'><i class='fa fa-cog'></i> Dashboard</a></i>
    <li><a href='/stories/my'><i class='fa fa-user'></i> My Stories</a></i>
    <li><a href='/auth/logout'><i class='fa fa-sign-out-alt'></i> Logout</a></i>
    {{/if}}
  </ul>
</div>
