<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, intial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Story Books | {{ title  }}</title>
  <!-- materialize css -->
  <link rel='stylesheet' href='./public/css/materialize.css'>
  <!-- fontawesome css -->
  <link rel='stylesheet' href='./public/css/all.min.css'>
  <script defer src='./public/js/all.min.js'></script>
  <!-- main css -->
  <link rel='stylesheet' href='./public/css/main.css'>
</head>
 <body>
   {{> _header}}
   {{#if user}}
     {{> _btn-text}}
   {{/if}}
   {{> _msg}}
   <main>
     <div class='container'>
       {{{body}}}
     </div>
   </main>
   {{> _footer}}
   <!-- JQuery -->
   <script src='./public/js/jquery.min.js'></script>
   <script src='./public/js/materialize.min.js'></script>
   <!-- CKEDITOR -->
   <script src='./node_modules/ckeditor/ckeditor.js'></script>
   <script src='./public/js/bundle.js'></script>
 </body>
 </html>


